<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
		h2,form{
			width: 250px;
			margin: 0 auto;
			text-align: center;

		}
		h2{
			line-height: 100px;

		}
    </style>
  </head>
  <body>
  <h2>提交评论</h2>
    <form action="/users/comm" method="post">
		主题：<input type="text" name="title" class="title"><br/><br/><br/>

		内容：<input type="textfield" name = "count" class="count"><br/><br/><br/>

		<input type="submit" class="sub" value = "提交">
    </form>
  </body>
</html>
